@import 'vendors/_bootstrap.scss';

$primary: #0383c0;

a{
	color:$primary;
}

.navbar {
  margin-bottom: 20px;
  margin-top: 30px;
  background: #0383c0 url(../img/navbar.png) repeat-x;
  border:1px #ccc solid;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default a:hover{
	background: none;
	color:$primary !important;
	font-weight: bold;
}

.logo{
	width:100%;
	margin: 40px 0 0 0;
	font-family: 'Oswald', sans-serif;
}

.primary{
	color:$primary;
}

.subtext{
	color:#666;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0 45px;
}

header form{
	float:right;
	margin-top: 30px;
	background: $primary;
	padding: 15px;
	color:#fff;
	border-radius: 5px;
}

#products img{
	width: 130px;
	height: 130px;
}

.jumbotron{
	overflow:auto;
	padding: 0 !important;
}

.jumbotron p{
	font-size: 15px;
}

.tablist{
	float: left;
	padding: 0;
	margin: 0;
	width: 30%;
}

.tablist li{
	background: #ccc;
	list-style: none;
	color: #666;
	padding: 15px 10px;
	padding-left: 20px;
	margin-bottom: 5px;
	width: 100%;
	font-size: 15px;
}

.tablist a {
	text-decoration: none;
	display: block;
}

.tablist li.active{
	background: $primary;
}

.tablist>li.active>a {
	color: white;
}

.tab-content{
	float:right;
	width:70%;
	background: $primary;
	color:white;
	overflow: hidden;
	height: 275px;
	padding-top: 20px;
}

.slide-img{
	float:right;
	width: 50%;
}

.tab-text{
	float: left;
	width:40%;
	margin-left: 40px;
}

@media (max-width: 768px) {
	.slide-img{
		display: none;
	}
	.tab-text{
		float:none;
		width:80%;
	}
	.navbar a{
		color:#fff !important;
	}
	.navbar a:hover{
		color:#ccc !important;
	}
	.navbar form{
		display:none;
	}
}

@media (max-width: 960px) {
	header form{
		width: 100% !important;
	}
}

@media (max-width: 600px) {
	.tab-content{
		height: 335px;
	}
}

.main-img{
	width:100%;
}

footer{
	text-align: center;
	height: 60px;
	background: #f4f4f4;
	padding-top: 20px;
	margin-top: 50px;
}
